{% extends "layout.html" %}

{% block title %}
 
{% endblock %}

{% block content %}
<h1 class="bg-pink-500 text-5xl text-amber-50">This is first APP in this project</h1>


<div class="grid grid-cols-3 gap-4 m-4">

  {% for cors in courses  %}
  <div class="bg-gray-900 p-5 rounded-md">
    <img class="w-full h-64 object-cover rounded-lg shadow-md" src="{{cors.image.url}}" alt={{cors.name}}>
    
    <h3 class="text-2xl font-bold">{{cors.name}}</h3>
    
   
   <a href="{% url 'course_Detail' cors.id %}">
      <button
      type="button"
      class="inline-flex items-center w-[100%] justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-orange-600 hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500 mt-auto"
      >
        {{cors.type}} - {{cors.id}}
      </button>
    </a> 
    
  </div>
  
  {% endfor %} 
</div>
{% endblock %}
